<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ART_OF_CODE 2024</title>

    <script src="./p5.js"></script>
    <script src="./p5.sound.min.js"></script>
    <script src="./lib/util.js"></script>
    <script src="./lib/classes.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body>
    <!-- <div id="app"></div> -->
    <!-- <script type="module" src="/main.js"></script> -->
    <script src="./sketch.js"></script>
  </body>
</html>
