@charset "utf-8";
/* @theme custom */
/* marp base styles */
@import-theme "default";
:root {
  font-size: 21pt;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.75;
  color: #334;
}
:root.cover .logo {
  font-size: 48pt;
}
:root.cover .title {
  font-weight: bold;
  font-size: 24pt;
  color: #246;
}
:root.cover .author {
  text-align: right;
  color: #0066;
}
:root.left {
  padding-right: 1.5em;
}
:root.right {
  padding-left: 1.5em;
}
.logo {
  font-family: Futura, "Century Gothic", sans-serif;
  font-weight: normal !important;
  letter-spacing: 0.1em;
  padding: 0;
}
.logo::before {
  content: "[";
  padding-right: 0.5em;
}
.logo::after {
  content: "]";
  padding-left: 0.5em;
  text-shadow: 0.6em 0 0 #80f8, 1.2em 0 0 #f206, 1.8em 0 0 #fb06;
}
.logo::before,
.logo::after {
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: 0.13em;
}
.logo b {
  font-weight: bold;
  letter-spacing: 0.3em;
  text-shadow: 0 -0.3em 0 #60f4, 0 -0.75em 0 #0f66, 0 -1.4em 0 #ff08;
}
.red,
.green,
.blue {
  color: hsl(var(--hue), 50%, 50%);
}
.red > code,
.green > code,
.blue > code {
  color: hsl(var(--hue), 100%, 70%);
}
.red {
  --hue: 0;
}
.green {
  --hue: 120;
}
.blue {
  --hue: 240;
}
.fl {
  display: block;
  margin: 0;
  margin-bottom: 0.75em;
}
.fl.l {
  float: left;
  margin-right: 1.5em;
}
.fl.r {
  float: right;
  margin-left: 1.5em;
}
h1,
h2,
h3 {
  line-height: 1.25;
}
h1,
h2 {
  color: #246;
}
h2 {
  font-size: 27pt;
}
h3 {
  font-size: 24pt;
}
h4,
h5,
h6 {
  font-size: 21pt;
}
small {
  font-size: 18pt;
}
em {
  font-weight: bold;
  font-style: normal;
}
em code {
  color: #4f9;
  font-weight: normal;
}
strong {
  background: linear-gradient(transparent 60%, #0f66 60%);
}
strong code {
  color: #4f9;
}
ol li::marker {
  color: #aac;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-right: 0.5em;
}
kbd {
  background-color: #334;
  color: white;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 21pt;
  line-height: 1;
  padding: 0.1em 0.3em;
  border: 0.1em solid #b1b1c5;
  border-radius: 0.3em;
}
table td,
table th {
  border: 1.5pt solid #aac;
}
table thead td,
table thead th {
  white-space: nowrap;
}
table.numtable {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
table.numtable td {
  text-align: right;
}
img {
  background-color: transparent;
}
/* highlight.js theme */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: #1e1e1e;
  color: #dcdcdc;
}
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-symbol {
  color: #569cd6;
}
.hljs-link {
  color: #569cd6;
  text-decoration: underline;
}
.hljs-built_in,
.hljs-type {
  color: #4ec9b0;
}
.hljs-class,
.hljs-number {
  color: #b8d7a3;
}
.hljs-meta .hljs-string,
.hljs-string {
  color: #d69d85;
}
.hljs-regexp,
.hljs-template-tag {
  color: #9a5334;
}
.hljs-formula,
.hljs-function,
.hljs-params,
.hljs-subst,
.hljs-title {
  color: #dcdcdc;
}
.hljs-comment,
.hljs-quote {
  color: #57a64a;
  font-style: italic;
}
.hljs-doctag {
  color: #608b4e;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
  color: #9b9b9b;
}
.hljs-template-variable,
.hljs-variable {
  color: #bd63c5;
}
.hljs-attr,
.hljs-attribute {
  color: #9cdcfe;
}
.hljs-section {
  color: gold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #d7ba7d;
}
.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}
.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
:is(pre, marp-pre) {
  background: #1e1e1e;
  color: #dcdcdc;
  border: none;
  line-height: 1.5;
}
code {
  background: #1e1e1e;
  color: #dcdcdc;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
