@charset "utf-8";

/* @theme custom */

/* marp base styles */
@import-theme "default";

@fsS: 16pt;
@fsM: 18pt;
@fsL: 24pt;
@fsXL: 27pt;
@fsMax: 48pt;

@ffFutura: Futura, "Century Gothic", sans-serif;
@ffCode: Menlo, Monaco, "Courier New", monospace;

@cBlack: #334;
@cGrey: #aac;
@cDkBlue: #246;

@hl: 1.5pt; // hairline
@gap: 1.5em;

:root {
  font-size: @fsM;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.75;
  color: @cBlack;

  &.cover {
    .logo {
      font-size: @fsMax;
    }
    .title {
      font-weight: bold;
      font-size: @fsL;
      color: @cDkBlue;
    }
    .author {
      text-align: right;
      color: #0066;
    }
  }

  &.left {
    padding-right: 1.5em;
  }
  &.right {
    padding-left: 1.5em;
  }

}

.logo {
  font-family: @ffFutura;
  font-weight: normal !important;
  letter-spacing: .1em;
  padding: 0;

  &::before {
    content: "[";
    padding-right: .5em;
  }
  &::after {
    content: "]";
    padding-left: .5em;
    text-shadow:
      .6em 0 0 #80f8,
      1.2em 0 0 #f206,
      1.8em 0 0 #fb06;
  }
  &::before,
  &::after {
    font-family: Helvetica;
    font-size: .9em;
    font-weight: bold;
    vertical-align: .13em;
  }

  b {
    font-weight: bold;
    letter-spacing: .3em;
    text-shadow:
      0 -.3em 0 #60f4,
      0 -.75em 0 #0f66,
      0 -1.4em 0 #ff08;
  }
}

.red,
.green,
.blue {
  color: hsl(var(--hue), 50%, 50%);
  > code {
    color: hsl(var(--hue), 100%, 70%);
  }
}
.red {
  --hue: 0;
}
.green {
  --hue: 120;
}
.blue {
  --hue: 240;
}

.fl {
  display: block;
  margin: 0;
  margin-bottom: @gap * .5;

  &.l {
    float: left;
    margin-right: @gap;
  }
  &.r {
    float: right;
    margin-left: @gap;
  }
}

.cols {
  display: flex;
  width: 100%;
  &.gap {
    gap: 1.5em;
  }
  > * {
    display: block;
    flex: 1;
    img {
      display: block;
      width: 100%;
    }
  }
  &.c21 > *:first-child,
  &.c12 > *:last-child {
    flex: 2
  }
  &.c32 > *,
  &.c23 > * {
    flex: 2;
  }
  &.c32 > *:first-child,
  &.c23 > *:last-child {
    flex: 3;
  }
}

a {
  code {
    background-color: var(--color-accent-fg);
    color: white;
  }
}

h1,h2,h3 {
  line-height: 1.25;
}
h1,h2 {
  color: @cDkBlue;
}
h2 {
  font-size: @fsXL;
}
h3 {
  font-size: @fsL;
}
h4,h5,h6 {
  font-size: @fsM;
}

small {
  font-size: @fsS;
}

em {
  font-weight: bold;
  font-style: normal;

  code {
    color: #4f9;
    font-weight: normal;
  }
}
strong {
  background:linear-gradient(transparent 60%, #0f66 60%);

  code {
    color: #4f9;
  }
}

ol {
  li {
    &::marker {
      color: @cGrey;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      padding-right: .5em;
    }
  }
}

kbd {
  background-color: @cBlack;
  color: white;
  font-family: @ffCode;
  font-size: @fsM;
  line-height: 1;
  padding: .1em .3em;
  border: .1em solid lighten(@cBlack, 50%);
  border-radius: .3em;
}

table {
  td, th {
    border: @hl solid @cGrey;
  }
  thead {
    td, th {
      white-space: nowrap;
    }
  }
  &.numtable {
    font-family: @ffCode;

    td {
      text-align: right;
    }
  }
}

img {
  background-color: transparent;
}

/* highlight.js theme */
@import (less) "vs2015.css";

:is(pre, marp-pre) {
  .hljs;
  border: none;
  line-height: 1.5;
}

code {
  .hljs;
  font-family: @ffCode;
}
