@charset "utf-8";
:root {
  font-size: 1.75em;
  font-family: Helvetica, "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.75;
}
h2,
h3 {
  font-family: "Avenir Next", sans-serif;
  line-height: 1.25;
}
em {
  font-weight: bold;
  font-style: normal;
}
strong {
  background: linear-gradient(transparent 60%, #ff6 60%);
}
#cover .logo {
  font-size: 64px;
}
#cover .author {
  text-align: right;
  color: #0066;
  font-weight: bold;
  font-family: Optima;
}
.logo {
  font-family: Futura, sans-serif;
  font-weight: normal !important;
  letter-spacing: 0.1em;
  padding: 0;
}
.logo::before {
  content: "[";
  padding-right: 0.5em;
}
.logo::after {
  content: "]";
  padding-left: 0.5em;
  text-shadow: 0.6em 0 0 #80f8, 1.2em 0 0 #f206, 1.8em 0 0 #fb06;
}
.logo::before,
.logo::after {
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: 0.13em;
}
.logo b {
  font-weight: bold;
  letter-spacing: 0.3em;
  text-shadow: 0 -0.3em 0 #60f4, 0 -0.75em 0 #0f66, 0 -1.4em 0 #ff08;
}
